<h1>画像アップローダー</h1>

<%= form_for(@pic) do |f| %>
    <%= f.label :name, "名前" %>
    <%= f.text_field :name %><br>
    <%= f.label :image, "画像ファイル" %>
    <%= f.file_field :image %><br>
    <%= f.submit "アップロード" %>
<% end %>
